<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kingsgroup.survival" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <application android:allowBackup="true" android:icon="@mipmap/app_icon" android:roundIcon="@mipmap/app_icon_round" android:label="@string/app_name" android:theme="@style/AppTheme">

    <activity android:name="com.kingsgroup.sdk.KGUnityPlayerActivity" android:label="@string/app_name" android:screenOrientation="sensorLandscape" android:launchMode="singleTask" android:configChanges="orientation|keyboardHidden|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- DeepLink 使用package name作为scheme -->
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="{DeepLink_Scheme}" />
      </intent-filter>
      <!-- DeepLink -->
      <!-- Wechat -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="{WeChat_App_ID}" />
      </intent-filter>
      <!-- Wechat -->
      <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />
    </activity>
    <!-- Wechat -->
    <activity android:name=".wxapi.WXEntryActivity" android:exported="true" android:label="@string/app_name" />
    <!-- Wechat -->
    <!-- Adjust -->
    <receiver android:name="com.adjust.sdk.AdjustReferrerReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <!-- Adjust -->
    <!-- FCM -->
    <service
        android:name="com.kingsgroup.sdk.FCM.KGFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
    </service>
    
    <service
        android:name="com.kingsgroup.sdk.FCM.KGFirebaseInstanceIDService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
    </service>
    <!-- FCM -->
    <!-- LocalNotification -->
    <service android:enabled="true" android:name="com.kingsgroup.sdk.Service.KGNotificationService" android:process=":remote" />
    <!-- LocalNotification -->
    <!-- Facebook -->
    <activity android:name="com.facebook.unity.FBUnityLoginActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.facebook.unity.FBUnityDialogsActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.facebook.unity.FBUnityAppLinkActivity" android:exported="true" />
    <activity android:name="com.facebook.unity.FBUnityDeepLinkingActivity" android:exported="true" />
    <activity android:name="com.facebook.unity.FBUnityGameRequestActivity" />
    <activity android:name="com.facebook.unity.FBUnityCreateGameGroupActivity" />
    <activity android:name="com.facebook.unity.FBUnityJoinGameGroupActivity" />
    <activity android:name="com.facebook.unity.AppInviteDialogActivity" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fbKGFacebookAppID" />
    <provider android:name="com.facebook.FacebookContentProvider" android:authorities="com.facebook.app.FacebookContentProviderKGFacebookAppID" android:exported="true" />
    <activity android:name="com.facebook.LoginActivity" android:configChanges="keyboardHidden|orientation" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <activity android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <!-- Facebook -->
    <!-- VK -->
    <activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />
    <!-- VK -->
    <!-- AIHelp -->
    <activity android:name="com.ljoy.chatbot.ChatMainActivity" android:configChanges="orientation|screenSize|locale" android:screenOrientation="sensor">
    </activity>
    <activity android:name="com.ljoy.chatbot.FAQActivity" android:configChanges="orientation|screenSize|locale" android:screenOrientation="sensor" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="cs30.net" android:pathPrefix="/elvaFAQ" />
      </intent-filter>
    </activity>
    <activity android:name="com.ljoy.chatbot.OPActivity" android:configChanges="orientation|screenSize|locale" android:screenOrientation="sensor" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    </activity>
    <activity android:name="com.ljoy.chatbot.WebViewActivity" android:screenOrientation="sensor" android:configChanges="orientation|screenSize|locale" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </activity>
    <!-- AIHelp -->
    <!-- Custom Portrait Upload -->
    <activity android:configChanges="locale|fontScale|keyboard|keyboardHidden|layoutDirection|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:name="com.kingsgroup.imagepicker.ImageImportActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    <provider android:authorities="com.kingsgroup.survival_importer_provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
    </provider>
    <!-- Custom Portrait Upload -->
  </application>
</manifest>
