<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{62,108}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,21},{62,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{72,106}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{72,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{90,88}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{90,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{96,62}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{96,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{94,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{94,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{86,68}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{94,66}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{94,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{102,70}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{86,78}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{86,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{88,88}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{96,92}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{96,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{66,98}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{66,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,112}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{78,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{72,108}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{72,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{86,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{86,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{88,92}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{98,80}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{96,86}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{96,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{72,66}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{78,76}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{78,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{86,80}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldstar.pvr.ccz</string>
            <key>size</key>
            <string>{116,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a874ebf25ecc7c11b2fbacc244c2b3:50f3b4d95a03fbcbad98fbf658089731:25c24c779a8c637ceb285187f3b88386$</string>
            <key>textureFileName</key>
            <string>goldstar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
